
body{
    font-family:'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #0057b7;
}

.h-logo{
    color: #f9faf8;
    font-size: 24px;
}


ul {
    margin: 0;
    padding: 0;
}


.hero{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-left: 40px;
    align-items: center;
    background-color: #ffd700;
    margin: 0;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #0057b7;
    padding: 0;
    margin-bottom: 10px;
}

.hero-subtext {
    margin-top: 0;
}

.hero-pic {
    border-radius: 25px;
}


.hero-button {
    background-color: #0057b7;
    color: #f9faf8;
    height: 40px;
    width: 80px;
    border-radius: 10px;
}

.card-total {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.card-header {
    font-size: 36px;
    font-weight: bold;
    color: #0057b7;
    margin: 0;
    padding-bottom: 22px;
}

.card-space {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.card{
    text-align: center;
}

.card-image {
    image-resolution: inherit;
    object-fit: cover;
    height: 200px;
    width: 200px;
    border: #0057b7;
    border-radius: 10px;
}

.quote-space {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
}

.quote-main {
    font-size: 36px;
    font-style: italic;
    color: #0057b7;
    text-align: center;
    margin-bottom: 16px;
}

.quote-info {
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    margin-top: 0;
}

.CTA {
    display: flex;
    justify-content: center;
    padding: 50px
}

.CTA-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    border-radius: 10px;
    margin: 0;
    gap: 16px;
    background-color: #0057b7;
    color: #e5e7eb;
}

.CTA-button {
    background-color: #ffd700;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    border: 2px #f9faf8;
    color: #0057b7;
}

.footer {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: #0057b7;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}